<div class="container">
	<div class="page-header">
		<h3>Your Investments</h3>
	</div>
	<div class="row">
		<div class="span12">
		<% if @investments.present? %>
			<div class="page-header">
				<h4>Projects Operating</h4>
				<p>Project fully operating and cost savings associated with decreased energy use are being returned to you.</p>
			</div>
				<% @investments.each do |investment| %>
					<% investment = investment.project %>
						<% if investment.operational? %>
							<h4><%= investment.project_name %> | <%= investment.project_owner %></h4>
					<% end %>
				<% end %>
			<div class="page-header">
				<h4>Projects Under Development</h4>
				<p>Fully funded and currently under development.</p>
			</div>
				<% @investments.each do |investment| %>
					<% investment = investment.project %>
						<% if investment.completed? %>
							<h4><%= investment.project_name %> | <%= investment.project_owner %></h4>
					<% end %>
				<% end %>
			<div class="page-header">
				<h4>Projects Actively Funding</h4>
				<p>Still actively funding.</p>
			</div>
				<% @investments.each do |investment| %>
					<% investment = investment.project %>
						<% if investment.inprogress? %>
							<h4><%= investment.project_name %> | <%= investment.project_owner %></h4>
							<table class="table">
								<tr>
									<td></td>
								</tr>
							</table>
					<% end %>
				<% end %>
		<% else %>
			<p style="text-align: center;">You currently do not have any investments</p>
		<% end %>
	</div>
	</div>
</div>