<div class="page-header">
	<h3>Invest in <%= @project.project_name %></h3>
</div>
<div class="container">
	<div class="row">
		<div class="span9">
			
			<div class="details-title">
				<strong>Investment Details</strong>
			</div>
			<table class="table-body">
				<tr>
					<td><strong>Funding Amount: </strong></td>
					<td><%= @investment.investment_fundinglevel %></td>
				</tr>
				<tr>
					<td><strong>Expected Loan Duration: </strong></td>
					<td>6 years</td>
				</tr>
				<tr>
					<td><strong>Expected Rate of Return: </strong></td>
					<td>7.5 %</td>
				</tr>
				<tr>
					<td><strong>Expected Monthly Repayment: </strong></td>
					<td>$150</td>
				</tr>
				<tr>
					<td><strong>Expected Total Energy Savings: </strong></td>
					<td>25,000 kwH</td>
				</tr>
			</table>
			<div class="details-title">
				<strong>Payment Checkout</strong>
			</div>
			<h3>Credit Card Form Goes Here</h3>
				<%= form_for @investment, html: {class: "form-horizontal"}, method: :post do |f| %>
				
						<%= f.hidden_field :project_id, value: @project.id %>
						<%= f.hidden_field :investment_fundinglevel, value: @investment.investment_fundinglevel %>

					
						<%= submit_tag "Submit Investment", class: 'btn' %>
						<%= link_to "Cancel", projects_path(@project), class: 'btn' %>
					
				<% end %>
		</div>
		<div class="span3">
	        <div class="well sidebar-nav">
	          <ul class="nav nav-list">
	            <li class="nav-header">How It Works</li>
	            <p style="font-size: 11px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus id lectus ut nunc convallis viverra. Aenean vel quam arcu, id vulputate nisi. Proin fermentum ultrices purus eu ultricies. Suspendisse hendrerit sem eu lectus egestas varius consequat tortor pretium. Vestibulum gravida eros eu mauris mollis viverra. </p>
	            <li class="nav-header">Need Help?</li>
	            <p style="font-size: 11px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus id lectus ut nunc convallis viverra. Aenean vel quam arcu, id vulputate nisi. Proin fermentum ultrices purus eu ultricies. Suspendisse hendrerit sem eu lectus egestas varius consequat tortor pretium. Vestibulum gravida eros eu mauris mollis viverra. </p>
	          </ul>
	        </div><!--/.well -->
        </div>
	</div>
</div>







