
<div class="container">
		<div class="show-container">
			<div class="show-details">
				<h2 style="margin-bottom: -10px;"><%= @project.project_name %></h2>
				<h4><%= @project.project_owner %></h4>
				
				<div class="show-funding">
			  			<div class="progress">
							<div class="bar" style="width: <%= @project.project_percentcurrentfunded %>%;"></div>
						</div>
						<div class="show-funding-percent">
				  			<strong><%= number_to_percentage(@project.project_percentcurrentfunded, :precision => 0) || number_to_percentage(0, :precision => 0)%></strong>
				  			<p>FUNDED</p>
				  		</div>
				  		<div class="show-funding-total">
				  			<strong><%= number_to_currency(@project.project_currentfunded, :precision => 0) || number_to_currency(0, :precision => 0) %></strong>
				  			<p>INVESTED</p>
				  		</div>
				  		<div class="show-funding-savings">
				  			<strong><%= @project.project_currentfunded %> kWh</strong>
				  			<p>SAVINGS</p>
				  		</div>
		  			</div>				
			</div>
			<div class="show-photo">
				<%= image_tag @project.avatar(:large) %>
			</div>
		</div>
</div>
<div class="container" style="margin-top: 600px;">
	<% if @project.completed? %>
	<div style="background-color: #cccccc;">
		<h4 style="text-align: center; padding-top: 10px; padding-bottom: 10px;">PROJECT IS FULLY FUNDED</h4>
	</div>
	<% end %>
	<div class="row">
		<div class="span8">

			<h3>Project Details</h3>
			 <%= render 'details' %>
			<h3>Project Description</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus id lectus ut nunc convallis viverra. Aenean vel quam arcu, id vulputate nisi. Proin fermentum ultrices purus eu ultricies. Suspendisse hendrerit sem eu lectus egestas varius consequat tortor pretium. Vestibulum gravida eros eu mauris mollis viverra. Donec sed sapien eu urna volutpat adipiscing id quis ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer luctus mattis facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla fermentum ligula a nisi pretium nec eleifend mi venenatis. Mauris id dui id eros rutrum ullamcorper.</p>

			<p>Donec dapibus tincidunt lectus et mollis. Mauris eleifend placerat neque. Mauris pretium auctor tristique. Phasellus erat erat, lobortis sit amet iaculis vitae, tincidunt in eros. Curabitur feugiat pulvinar ligula, ut hendrerit nisi vulputate vel. Aliquam suscipit facilisis ultricies. Suspendisse id metus augue. Donec fermentum elit molestie urna facilisis commodo. Curabitur auctor, quam vel consequat pellentesque, nisi arcu vulputate dolor, vitae malesuada augue nisi in neque. Cras dictum scelerisque urna, sit amet consectetur elit vestibulum vulputate. Mauris eget libero eget lacus lobortis commodo. Donec sit amet ipsum nisl. Integer hendrerit, justo non semper cursus, leo velit ullamcorper lorem, vel consequat mi nunc sit amet justo.</p>
			
			<h3>Project Location</h3>

		</div>

		<div class="span4">
			<h3>Investment Levels</h3>
			<ul id="investment-levels">
				<li>
					<div class="investment-block">
						<%= render 'funding' %>
					</div>
					<div>
						<p>Estimated savings returned: $25</p>
					</div>
				</li>
				<li>
					<div class="investment-block">
						<% if signed_in? %>
							<%= link_to number_to_currency(@project.project_fundlevel2, :precision => 0), new_investment_path(investment_fundinglevel: @project.project_fundlevel2, id: @project.id), class: 'investment-number' %>
						<% else %>
							<%= link_to number_to_currency(@project.project_fundlevel2, :precision => 0), new_user_registration_path, class: 'investment-number' %>
						<% end %>
					</div>
					<div>
						<p>Estimated savings returned: $125</p>
					</div>	
				</li>
				<li>
					<div class="investment-block">
						<% if signed_in? %>
							<%= link_to number_to_currency(@project.project_fundlevel3, :precision => 0), new_investment_path(investment_fundinglevel: @project.project_fundlevel3, id: @project.id), class: 'investment-number' %>
						<% else %>
							<%= link_to number_to_currency(@project.project_fundlevel3, :precision => 0), new_user_registration_path, class: 'investment-number' %>
						<% end %>
					</div>
					<div>
						<p>Estimated savings returned: $525</p>
					</div>
				</li>
				<li>
					<div class="investment-block">
						<% if signed_in? %>
							<%= link_to number_to_currency(@project.project_fundlevel4, :precision => 0), new_investment_path(investment_fundinglevel: @project.project_fundlevel4, id: @project.id), class: 'investment-number' %>
						<% else %>
							<%= link_to number_to_currency(@project.project_fundlevel4, :precision => 0), new_user_registration_path, class: 'investment-number' %>
						<% end %>
					</div>
					<div>
						<p>Estimated savings returned: $1025</p>
					</div>
				</li>	
				<li>
					<div class="investment-block">
						<% if signed_in? %>
							<%= link_to number_to_currency(@project.project_fundlevel5, :precision => 0), new_investment_path(investment_fundinglevel: @project.project_fundlevel5, id: @project.id), class: 'investment-number' %>
						<% else %>
							<%= link_to number_to_currency(@project.project_fundlevel5, :precision => 0), new_user_registration_path, class: 'investment-number' %>
						<% end %>
					</div>
					<div>
						<p>Estimated savings returned: $1225</p>
					</div>
				</li>				
			</ul>
		</div>
	</div>
</div>
	
