<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="../">EnergyProject</a>
        <ul class="nav">
          <li><%= link_to "Browse Projects", projects_path  %></li>
          <li><%= link_to "Submit Project", submit_path  %></li>
          <li><form class="navbar-search pull-left">
            <input type="text" class="search-query" placeholder="Search Project">
          </form>
          </li>
        </ul>
		<ul class="nav pull-right">
    <% if user_signed_in? %>
      <% if current_user.admin? %>
            <li class="dropdown">
             <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
              <%= current_user.full_name %>
                  <b class="caret"></b>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                  <li><%= link_to 'Add Project', new_project_path %></li>
              </ul>
            </li>
          <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
      <% else %>
    			<li class="dropdown">
    				 <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
      						<%= current_user.full_name %>
      						<b class="caret"></b>
    					</a>
    					<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      						<li><%= link_to 'View Your Investments', investments_path %></li>
                  <li><%= link_to 'View Your Credit Account', returns_path %></li>
     							<li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
    					</ul>
    				</li>
    			<li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>   
      <% end %> 
		<% else %>
			<li><%= link_to "Sign Up", register_path %></li>
			<li><%= link_to "Sign In", login_path %></li>
		<% end %>
	</ul>
    </div>
  </div>
</div>